language: php

php:
  - 7.4

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit tests/unit  --configuration=phpunit.dist.xml --coverage-clover build/logs/clover.xml

after_success:
  - php vendor/bin/coveralls -v
